.about__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 251px;
  z-index: 2;
  flex-grow: 1;
  margin: -10px;
  text-align: left;
  padding: 0;
}

.about {
  position: relative;
  background-color: #0a2850;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 173px;
}

.about__content {
  max-width: 660px;
  position: relative;
  margin-top: 19px;
}

.about__wrapper {
  display: flex;
  justify-content: space-around;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 20px;
}

.about__paragraph:last-of-type {
  margin-bottom: 0;
}

.about__circle {
  background: #2f80ed;
  border-radius: 50%;
  width: 426px;
  height: 426px;
  position: absolute;
  left: -129px;
  top: -152px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s infinite;
}

@keyframes button {
  from {
    opacity: 100%;
  }
  to {
    opacity: 70%;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
