.card {
  width: 540px;
}

.card__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  list-style-type: none;
  padding: 0;
}

.card__list-item {
  margin-bottom: 16px;
  display: flex;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: solid black;
  flex-grow: 1;
}
