.content {
    margin: auto;
    z-index: 1;
  }
  
  .content__background {
    z-index: -2;
    background-color: #0A2750;
    margin: auto;
  }
  
  .content__background {
    position: absolute;
  }

  .content__menu {
    background-image: url(../images/background_menu.svg);
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position-x: center;
  
  }

  .content__about {
    background-color: #0A2850;
    padding-bottom: 173px;
    padding-top: 119px;
    overflow: hidden;
  }
  