.form {
  max-width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  display: block;
  margin-bottom: 32px;
}

.form__input {
  display: block;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__button {
  border-radius: 4px;
  width: 100%;
  height: 60px;
  margin-top: 32px;
  margin-bottom: 32px;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-delay: 250ms;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #2f80ed;
  color: white;
}

.form__button:hover {
  animation-name: button;
  animation-duration: 500ms;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 0;
}
