.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", sans-serif, Arial;
  font-size: 16px;
  line-height: 20px;
}

.page__header {
}

.page__recipes {
}

.page__reservations {
}

.page__menu {
}

.page__about {
}

.page__footer {
}
